@media screen and (max-width:576px) {
    /* body{
        border: 1px solid black;
    }  */
    .navbar {
        flex-direction: column;
        width: 100%;
    }

    .navlinks {
        flex-direction: column;
        width: 100%;
    }

    .navlinks-txt {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 20px;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-pic {
        width: 100%;

    }

    .banner-pic img {
        height: auto;
        margin-bottom: 20px;
    }

    .banner-des-des {
        width: 100%;
        height: auto;
        

    }
    .banner-des{
        width: 100%;
    }

    .banner-h1 {
        font-size: 66px;
    }

    .banner-h2 {
        font-size: 38px;
    }

    .we-are-gamer {
        flex-direction: column;
        padding: 10px;
    }

    .we-are-gamer-img img {
        width: 100%;
    }

    .we-are-gamer-des-p {
        text-align: center;
    }

    .we-are-gamer-des-h2 {
        text-align: center;
    }

    .knw-btn {
        display: flex;
        margin: 10px auto;
    }

    .we-are-gamer-des-p-p {
        text-align: center;
    }

    .we-are-gamer-des-h5 {
        text-align: center;
    }

    .community {
        flex-direction: column;
    }


    .play {
        flex-direction: column;
        gap: 0px;
    }

    .play-img {
        width: 100%;
        padding: 30px;
        margin: auto;
    }

    .paly-img-1 {
        width: 90%;
       
    }
    .play-content-h2{
        font-size: 30px;
    }
    .play-p{
        font-size: 12px;
        width: 50%;
        margin: auto;
    }

    .play-content {
        width: 90%;
        text-align: center;
        /* padding: 20px; */
        padding: 1px;
        margin: auto;
       
    }
    .cat-img{
        position: absolute;
        bottom: 0;
        left: 0;
        width:118.5px;
    height:165.083px;
    flex-shrink: 0;
    }

    .play-p {
        text-align: center;
    }

    .play-content-h2 {
        color: #0B0223;
        font-family: Work Sans;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        text-align: center;
    }

    .carrers {
        flex-direction: column;
        margin-top: 30px;
    }

    .careers-content {
        width: 100%;
        padding: 20px; 
        
    }

    .caeers-img {
        width: 100%;
    }

    .position {
        margin-bottom: 30px;
    }

    .action {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: repeat(3, 1fr); */

        gap: 5px;
        padding: 10px;

    }
    .action-btn img{
        width: 33%;
    }

    .action-btn {
        font-size:10px;
        padding: 1px;
        gap: 1px;
    }

    /* .action-btn {
           display: grid;
          
        } */
    .footer-p {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
    }

    .footer-icon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
    }

    .footer-p-p {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        font-size: 10px;
    }


}

/* tablet view  */
@media screen and (min-width:576px) and (max-width:992px) {
    .navbar {
        flex-direction: column;
    }

    .navlinks {
        flex-direction: column;
    }

    .navlinks-txt {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 20px;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-pic {
        width: 100%;

    }

    .banner-pic img {
        height: auto;
        margin-bottom: 20px;
    }

    .banner-des-des {
        width: 100%;
        height: auto;

    }

    .banner-h1 {
        font-size: 66px;
    }

    .banner-h2 {
        font-size: 38px;
    }

    .we-are-gamer {
        flex-direction: column;
        padding: 10px;
    }

    .we-are-gamer-img img {
        width: 100%;
    }

    .we-are-gamer-des-p {
        text-align: center;
    }

    .we-are-gamer-des-h2 {
        text-align: center;
    }

    .knw-btn {
        display: flex;
        margin: 10px auto;
    }

    .we-are-gamer-des-p-p {
        text-align: center;
    }

    .we-are-gamer-des-h5 {
        text-align: center;
    }

    .community {
        flex-direction: column;
    }


    .play {
        flex-direction: column;
        gap: 0px;
    }

    .play-img {
        width: 100%;
        padding: 30px;
        margin: auto;
    }

    .paly-img-1 {
        width: 90%;
       
    }
    .play-content-h2{
        font-size: 30px;
    }
    .play-p{
        font-size: 12px;
        width: 50%;
        margin: auto;
    }

    .play-content {
        width: 90%;
        text-align: center;
        /* padding: 20px; */
        padding: 1px;
        margin: auto;
       
    }
    .cat-img{
        position: absolute;
        bottom: 0;
        left: 0;
        width:118.5px;
    height:165.083px;
    flex-shrink: 0;
    }

    .play-p {
        text-align: center;
    }

    .play-content-h2 {
        color: #0B0223;
        font-family: Work Sans;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        text-align: center;
    }

    .carrers {
        flex-direction: column;
        margin-top: 30px;
    }

    .careers-content {
        width: 100%;
        /* padding: 20px; */
        padding-left: 94px;
        padding-right: 72px;
    }

    .caeers-img {
        width: 100%;
    }

    .position {
        margin-bottom: 30px;
    }

    .action {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: repeat(3, 1fr); */

        gap: 5px;
        padding: 10px;

    }

    .action-btn {
        padding: 1px;
        gap: 1px;
    }

    /* .action-btn {
           display: grid;
          
        } */
    .footer-p {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
    }

    .footer-icon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
    }

    .footer-p-p {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        font-size: 10px;
    }

}